h3 {
  margin-top: 3%;
  font-size: 1.3vw;
  color: var(--eduguide_blue);
  text-align: center;
  margin-bottom: 0.5%;
}
.question {
  background-color: var(--eduguide_blue);
  color: white;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.gen-label {
  margin-left: 1%;
  color: white;
}

.gen-desc {
  color: var(--eduguide_orange);
  font-size: 1.5vw;
  width: auto;
  height: 1vw;
  margin-left: 0%;
}

.gen-deschead {
  color: var(--eduguide_blue);
  font-size: 1.8vw;
  width: auto;
  height: auto;
  font-weight: bold;
}

.test-input {
  background-color: var(--eduguide_orange);
  size: 2vw;
}

input.test-input {
  width: 2.05vw;
  height: 2.05vw;
}

h2,
h3 {
  font-size: 2.05vw;
  color: var(--eduguide_blue);
}

.ques-count {
  font-size: 2.05vw;
  font-weight: 800;
  color: var(--eduguide_orange);
}

.question-count {
  background-color: var(--eduguide_orange);
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 15%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  margin-bottom: 2%;
}

.question-text,
.courses-title {
  background-color: var(--eduguide_blue);
  color: white;
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 60%;
  padding-top: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  margin-bottom: 1.5%;
  font-size: 1vw;
}

.courses-column {
  font-size: 0.2vw;
  width: 10%;
}

.courses-btn {
  background-color: var(--eduguide_orange);
  color: var(--eduguide_blue);
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 70%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-bottom: 2%;
  font-size: 1.2vw;
}

.course-table {
  width: 100%;
}

.answer-section {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 5px;
  filter: invert(100%) hue-rotate(20deg) brightness(1);
}

.button {
  width: 13%;
  font-size: 1.5vw;
  background-color: #ffb772;
  font-color: var(--eduguide_blue);
}
