.sign-form{
    font-size: 1.55vw;
    color:  var(--eduguide_blue);
    margin-left: 40%;
}

label {
    margin-left: -9%;
}

.field {
    font-family: Ruda;
    font-size: 1.55vw;
    color:  var(--eduguide_blue);
    margin-bottom: 0.05vw;
    margin-left: 12%;
    margin-top: -5%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width:unset;
    width: 30%;
    display:list-item;
}

.reg-btn {
    font-family: Ruda;
    font-size: 1.65vw;
    background-color: var(--eduguide_blue);
    color: white;
    padding: 0.5vw 2vw;
    border: none;
    border-radius: 3vw;
    font-weight:600;
    text-decoration: none;
}

